<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title> Epilepsy Patient clinical database</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<!-- <h1>Hello World</h1> -->

	<div align="center" class="container" style="background-color: lightcyan;">
		<!--  <div class="row">-->

		<h1>Patient's Ictus Data</h1>

		<br>
		<hr>
		<!-- Add hidden form field to handle update -->
			<!-- <input type="hidden" th:field="*{id}" /> -->
			
		<!-- <a href="/showNewHistoryForm"><button type="button"
				style="width: 180px; height: 40px; background-color: aqua; border-radius: 10px">ADD
				History</button></a> -->
		<!--  width="70%" border="1"-->
		<table class="table table-striped table-hover table-dark" width="70%"
			border="1">
			<thead>
				<tr>
					<th>OPD.NO</th>
					<th>Bilateral tonic clonic seizure</th>
					<th>Behavioral arrest vacant stare</th>
					<th>Automatism</th>
					<th>Speech</th>
					<th>Motor</th>
					<th>jacksonian marchString</th>
					<th>Autonomic symptoms</th>
					<th>Others</th>
					<th>Arousal State</th>
					<th>Comment</th>
					<!-- <th>ACTION</th> -->
				</tr>
			</thead>
			<tbody>
				<tr th:each="ictus: ${listictus}">
					<td th:text="${ictus.id_ictus}"></td>
					<td th:text="${ictus.Bilateral_tonic_clonic_seizure}"></td>
					<td th:text="${ictus.Behavioral_arrest_vacant_stare}"></td>
					<td th:text="${ictus.Automatism}"></td>
					<td th:text="${ictus.Speech}"></td>
					<td th:text="${ictus.Motor}"></td>
					<td th:text="${ictus.jacksonian_marchString}"></td>
					<td th:text="${ictus.Autonomic_symptoms}"></td>
					<td th:text="${ictus.Others}"></td>
					<td th:text="${ictus.Arousal_State}"></td>
					<td th:text="${ictus.Comment}"></td>
					<!-- <td><a
						th:href="@{/showFormForUpdate/{id}(id=${ictus.id})}"
						class="btn btn-primary"><b>Update</b></a>
						 <a th:href="@{/deleteHistory/{id}(id=${ictus.id})}" class="btn btn-danger"><b>Delete</b></a> -->
						 <!--<td>
			  <button th:if="${emp.designation}=='Manager'">APPRAISAL</button>
			<button th:if="${emp.designation}=='Admin'">CREATE/DELETE/UPDATE</button>
			<button th:unless="${emp.designation}=='Admin'">VIEW</button>
			
			</td>-->
				</tr>
			</tbody>
		</table>
	</div>
	<hr>
	<div class="container">
		
		<!-- <a th:href="@{/showNewHistoryForm}"><button type="button">ADD
				History</button></a>  -->
		<!-- | <a href="/display.html"><button type="button">Display</button></a> -->
		<!-- <a th:href = "@{/showNewHistoryForm}" style="width: 180px; height: 40px; background-color: aqua; border-radius: 10px"> Add History</a> -->
		<a href="/showNewHistoryForm"><button type="button" style="width: 140px; height: 40px; background-color: aqua; border-radius: 10px"><b>Add History</b></button></a>
		| <a href="/display"><button type="button"
				style="width: 140px; height: 40px; background-color: orange; border-radius: 10px"><b>Back</b></button></a>
	</div>
	<!-- </div> -->
</body>
</html>