<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>e-Clinic Database InfoSystem</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>
<!-- <h1>Hello World</h1> -->

<div align="center" class="container">
  <!--  <div class="row">-->

  <h1>Patient's Investigations advised</h1>

  <br>
  <hr>

  <!-- <a href="/showNewHistoryForm"><button type="button"
          style="width: 180px; height: 40px; background-color: aqua; border-radius: 10px">ADD
          History</button></a> -->
  <!--  width="70%" border="1"-->
  <table class="table table-striped table-hover table-dark" width="70%"
         border="1">
    <thead>
    <tr>
      <th>Investigations advised </th>
      <th style="width : 250px">ACTION</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="investigation: ${listinvestigation}">
      <td th:text="${investigation.investigationto}"></td>
      <td>
        <a th:href="@{/FormForUpdateinvestigation/{investigationid}(investigationid=${investigation.investigationid})}" class="btn btn-primary"><b>Update</b></a>
        <a th:href="@{/deleteInvestigation/{investigationid}(investigationid=${investigation.investigationid})}" class="btn btn-danger"><b>Delete</b></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<hr>
<div class="container">

  <!-- <a th:href="@{/showNewHistoryForm}"><button type="button">ADD
          History</button></a>  -->
  <!-- | <a href="/display.html"><button type="button">Display</button></a> -->
  <!-- <a th:href = "@{/showNewHistoryForm}" style="width: 180px; height: 40px; background-color: aqua; border-radius: 10px"> Add History</a> -->
  <a th:href="@{/showNewinvestigationForm}"><button type="button" style="width: 140px; height: 40px; background-color: aqua; border-radius: 10px"><b>Add </b></button></a>
  | <a th:href="@{/}"><button type="button"
                              style="width: 140px; height: 40px; background-color: orange; border-radius: 10px"><b>Back</b></button></a>
</div>
<!-- </div> -->
</body>
</html>