<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title> Epilepsy Patient clinical database</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>

<div class="container" style="background-color: lightcyan">
		<h1 style="text-align:centre;">e-Clinic Database InfoSystem</h1>

		<hr>
	
<a href="/display"><button type="button" style="width:180px; height:40px; background-color:lightgreen;border-radius:10px"><b>Display History List</b></button></a>
&nbsp;
<!-- <a th:href="@{/showNewHistoryForm}" type="button" style="width:180px; height:40px; background-color:lightblue;border-radius:10px";>Add History</a> -->
<a href="/showNewHistoryForm"><button type="button" style="width:180px; height:40px; background-color:aqua;border-radius:10px"><b>Add History</b></button></a>
</div>
</body>
</html>