<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Health Management System</title>

  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

</head>
<body>

<div    class="container my-2">
  <h2>Examination</h2>
  <a th:href = "@{/showNewEmployeeForm}" class="btn btn-primary btn-sm mb-3"> Add Examination Details </a>
  <table border="1" class = "table table-striped table-responsive-md">
    <thead>
    <tr>

      <!-- //<th>OPD number</th> -->

      <th>OPD number</th>
      <th>Head circumference</th>
      <th>Neurocutaneous markers</th>
      <th>Fundus</th>
      <th>Other systemic examination</th>
      <th>CNS examination</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="employee : ${listEmployees}">
      <!-- 					<td th:text="${employee.id}"></td> -->
      <td th:text="${employee.OPD_number}"></td>
      <td th:text="${employee.Head_circumference}"></td>
      <td th:text="${employee.Neurocutaneous_markers}"></td>
      <td th:text="${employee.Fundus}"></td>
      <td th:text="${employee.Other_systemic_examination}"></td>
      <!-- 					<td><select name="designation"> -->
      <!-- 							<option th:each="designation :${designations}" -->
      <!-- 								th:text="${designation}"> -->
      <!-- 					</select></td> -->


      <td th:text="${employee.CNS_number}">    </td>




      <td> <a th:href="@{/showFormForUpdate/{id}(id=${employee.id})}" class="btn btn-primary">Update</a>
        <a th:href="@{/deleteEmployee/{id}(id=${employee.id})}" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    </tbody>

  </table>


  <!--<table border="1" class = "table table-striped table-responsive-md">
    <thead>
    <tr>

      &lt;!&ndash; //<th>OPD number</th> &ndash;&gt;
      <th>OPD number</th>
      <th>Seizure Type</th>
      <th>Epilepsy type</th>
      <th>Non Epileptic Events</th>
      <th>Epilepsy Syndrome</th>
      <th>Final Diagnosis</th>

    </tr>
    </thead>
    <tbody>

    <tr th:each="employee : ${final_di}">
      &lt;!&ndash; 					<td th:text="${employee.id}"></td> &ndash;&gt;
      <td th:text="${employee.id}"></td>
      <td th:text="${employee.seizure_type}"></td>
      <td th:text="${employee.epilepsy_type}"></td>
      <td th:text="${employee.non_epileptic_events}"></td>
      <td th:text="${employee.epilepsy_syndrome}"></td>
      <td th:text="${employee.final_diagnosis}"></td>-->
      <!-- 					<td><select name="designation"> -->
      <!-- 							<option th:each="designation :${designations}" -->
      <!-- 								th:text="${designation}"> -->
      <!-- 					</select></td> -->


      <!--            <td th:text="${employee.CNS_number}">    </td> -->




      <!--  					<td> <a th:href="@{/showFormForUpdate/{id}(id=${employee.id})}" class="btn btn-primary">Update</a>  -->
      <!--  					    <a th:href="@{/deleteEmployee/{id}(id=${employee.id})}" class="btn btn-danger">Delete</a>  -->
      <!-- 				</td> -->
   <!-- </tr>
    </tbody>

  </table>-->
</div>

</body>
</html>